@page
@model GameManagement.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <label>Search: </label>
    <input type="text" name="search1" value="@Model.Search1" placeholder="Price" />
    <input type="text" name="search2" value="@Model.Search2" placeholder="Game Type Name" />
    <input type="submit" value="Search" class="btn btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Developer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer.DeveloperName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GameId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GameId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GameId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- Pagination -->
<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPage; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" asp-page="./index" asp-route-pagenumber="@i" asp-route-search1="@Model.Search1"
                   asp-route-search2="@Model.Search2">@i</a>
            </li>
        }
    </ul>
</nav>